.wrapper{
    height: 48px;
    background-color: var(--background-color-header);
    color: white;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.left{
    margin: 0 14px 0 20px;
    padding: 16px;
}

.right{
    padding: 16px;
}