.background-img {
    width: 100vw;
    height: 100vh;
}

.login-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    width: 300px;
    // height: 400px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #ccc;
}

.notifi {
    text-align: center;
    font-size: 12px;
    background-color: #ffcc00;
}

.login-header {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 600;
    color: rgb(237, 46, 46);
}

.login-item {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 18px 0;

    .login-input {
        margin-top: 8px;
        height: 24px;
    }
}

.login-submit {
    padding: 10px 44px;
    margin: 10px 0 20px 0;
    border-radius: 4px;
    background-color: #e0e0e0;
    cursor: pointer;
}

.login-submit:hover {
    background-color: red;
    color: white;
}
