@import 'normalize.css';
.dark-mode {
    --background-color-header: #0f0f0f;
    --background-color-navbar: black;
    --background-color-footer: #181818;
    --background-color-home: #121212;
    --background-color-music-item: #181818;
    --color-display: #1ed760;
    --color-music-item-hover: #282828;
    --color-text-author: #a4a4a4;
    --color-footer: #fff;
    --color-bupple: #f26398;
    --color-navbar-header-text: white;
    --color-navbar-item: white;
    --color-header: white;
    --color-header-icon: pink;
}

:root {
    // --background-color-header: #d98484;
    --background-color-header: #f2acc6;
    --background-color-navbar: #f195b7;
    // --background-color-navbar: #f2b6b6;
    // --background-color-footer: #f2b6b6;
    --background-color-footer: rgb(242, 159, 172);
    // --background-color-home: #f2acc6;
    --background-color-home: #eeced6;
    // --background-color-home: white;
    // --background-color-music-item: #f288af;
    --background-color-music-item: #f3a1bf;
    --color-display: #1ed760;
    --color-music-item-hover: #f26398;
    --color-text-author: #f2c2c2;
    --color-footer: #fff;
    --color-bupple: #f26398;
    --color-navbar-header-text: #d95b5b;
    --color-navbar-item: #d95b5b;
    --color-header: white;
    --color-header-icon: #d96666;
}