.wrapper{
    // background-color: #1b1b1b;
    padding-bottom: 44px;
    // min-height: calc(100vh);
}

.content{
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
}

.days-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}