.header{
    display: flex;
    background-color: #342d2d;
    color: white;
    height: 48px;
    align-items: center;
    justify-content: center;
}

.header-icon{
    color: pink;
    width: 24px;
    height: 24px;
}