.wrapper {
    display: flex;
}

.left {
    width: 240px;
}

.right {
    width: calc(100% - 240px);
}

.right-content {
    background-color: var(--background-color-home);
    margin-top: 48px;
    min-height: calc(100vh - 48px);
}
