.wrapper{
    display: flex;
    align-items: center;
    color: white;
    margin: 18px 0;
}

.wrapper:hover{
    cursor: pointer;
}

.icon{
    display: inline;
    margin: 0 20px 0 40px;
}

.text{
    font-size: 14px;
    font-weight: 500;
}

.disable{
    color: rgb(139, 133, 133);
}

.disable:hover{
    cursor: default;
}