.wrapper {
    color: white;
    width: 94%;
    margin-top: 40px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    cursor: pointer;
}
